.container {
  margin-top: 80px;;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 25px;
  margin-bottom: 100px;
}
@media (max-width: 1044px) {
  .container {
    row-gap: 60px;
  }
}